.form-field {
	color: yellow;
	font-size: 20px;
}

.cancel-link {
	background-color: orange;
	border-radius: 5px;
	color: black;
	font-size: 12px;
	padding: 4px;
	text-decoration: none;
}

.cancel-link:hover {
	background-color: red;
}


#edit-form {
	background: white;
	width: 40%;
}
