fieldset, h1 {
	color: orange;
	font-family: 'Lato', sans-serif;
}

.form-field {
	color: yellow;
	font-size: 16px;
}

.cancel-link {
	border-radius: 5px;
	padding: 4px;
	background-color: orange;
	color: black;
	font-size: 12px;
	text-decoration: none;
}

.cancel-link:hover {
	background-color: red;
}