// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset, h1 {
  color: orange;
  font-family: sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  padding-top: 15px;
}

.movie-description > h1 {
  margin-bottom: -10px;
}

.movie-description > img {
  float: left;
  margin-right: 15px;
  width: 400px;
}


.movie-description {
  color: white;

  h3 {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: underline;
  }
  
  p {
  font-size: 16px;
  }
}


.movie-description  {
  font-family: 'Lato', sans-serif;
  background-color: black;
  display: block;
  padding-bottom: 50px;
}

