// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



article.movie {
	width: 100%;
	display: inline-block;
	border-top: 1.4px solid lightgrey;
}


article.movie {
  img {
    float: left;
    margin: 0 15px;
    border: 3px solid #F0F0F0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 150px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

#movie-title {
	letter-spacing: 1px;
}

.movie-description {
  /*column-width: 230px;*/
  margin-left: 165px;

}

table {
  border-collapse: collapse;
  width: 75%;
  margin: 20px;
}

th, td {
  padding: 1px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
