/* reviews link */
.reviews, .write-review {
	background-color: white;
	border-radius: 2px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	margin-left: 10px;
	padding: 2px;
	text-decoration: none;
}

.write-review:hover {
	background-color: #DCE81A;
}

.reviews:hover {
	background-color: #30C602;
}

.review {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 30%;
}

.review > p {
	font-size: 20px;
	margin-left: 12px;
}

.review-title {
	color: white;
	text-decoration: none;
}

.review-title:hover {
	color: yellow;
}

#user {
	background-color: #afceff;
	border-bottom: 2px solid #7681DF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 10px;
}

#user-name {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

#time-posted {
	color: black;
	float: right;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-right: 5%;
	margin-top: 6px;
}

#star {
	font-size: 20px;
}

#user, #date {
	font-size: 15px;
}