<header id="page-header">
  <div class="header-graphics">
    <span><%= image_tag("logo/cinemacap.png", class: "img-responsive", id: "cinemacaplogo")%></span>
    <h2>Cinema Cap</h2>
    <!-- Custom helper current_user -->
    <p id="slogan">"Movies you've watched or wanna watch"</p>
  </div>
</header>

