<!DOCTYPE html>
<html>
  <head>
    <title>Movies I've Watched (Or Wanna)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="https://kit.fontawesome.com/b14fc5e67e.js"></script>
</head>
  </head>
  <body>
 <!-- yield returns the html output that an action generates -->
    <%= yield %>
  </body>
</html>
